/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100%;
  }

.bg-image {
    background-image:url('assets/bg-image-1.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading-div {
  display: flex;
  justify-content: center;
  position: relative;
}
h1,h3 {
  text-align: center;
}
.back-button {
  position: fixed;
  left: 1%;
  top: 1%;
}